


body {
    margin:0;
  }
  
  .bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #EE6983 50%, #3D8361 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }  

.nav-item a
{
    font-size: x-large;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #effb06 ;
    text-shadow: 1.5px 1.5px rgb(8, 0, 8);
    text-decoration: none;
    margin-right: 30px;
}

.nav-item a:hover
{
    color:rgb(246, 198, 8);
}



.head
{
    display: flex;
    align-items: center;
    justify-content: space-around;

}

#heading
{
    margin: auto;
    font-family: fantasy;
    font-size: 200px;
    margin-top: 80px;
    color: rgb(255, 204, 0);
    text-shadow: 5px 5px rgb(5, 5, 0);
   
}



#search
{
   
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#search i{
    position: absolute;
    margin-left: -230px;

} 

#textSearchSong
{
    background:linear-gradient(to right, #850F8D,#E49BFF);
    padding: 20px 20px 20px 30px;
    border-radius: 30px;
    margin-right: 20px;
   text-align: center;
   font-size: medium;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-weight: 500;
   box-shadow: 0px 10px #32012F;
    
}

input::placeholder
{
    color: black;
    font-weight: 500;
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}


#searchSong
{
    padding: 10px 30px 10px 30px;
  font-size: medium;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background: linear-gradient(to left,  #E49BFF,#850F8D);
  border: none;
  box-shadow: 0 10px #32012F;
  border-radius: 20px;
}

#searchSong:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

#searchSong:hover
{
    background: linear-gradient(to left,  #850F8D,#E49BFF);
   
}  

.card-style
{
background-color: aqua;
max-height: 450px;
max-width: 350px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
border-radius: 10px;
color: black;
text-align: left;
margin-top: 100px;
object-fit:cover;
 opacity: 1; 
-webkit-box-reflect:below 0.2px linear-gradient(transparent, transparent, rgba(248, 0, 0, 0.267));

transform-origin:center;
transform:perspective(800px) rotateY(25deg);
transition:0.5s;
margin-bottom:100px;

}


.image-style
{
    width: 350px;
    height: 250px;
    object-fit: cover;
    background-color: black;

}

#cards-container
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

#cards-container:hover div {
    opacity:0.7;
  }
#cards-container div:hover {
    transform:perspective(800px)       rotateY(0deg);
    opacity:1;
  }

.card-bottom button
{
    background-color: #ef0a29;
    
}  

